@model CorporateWebProject.WebUI.Models.ServiceVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@(Model.Modul!=null?Model.Modul.Title:"")</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@(Model.Modul!=null?"/manager"+Model.Modul.Url:"")@(Model.Page!=null?Model.Page.Url:"/index")">
                            <svg class="stroke-icon">
                                <use href="/manager/assets/svg/icon-sprite.svg#stroke-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">@(Model.Modul!=null?Model.Modul.Title:"")</li>
                    <li class="breadcrumb-item active">@(Model.Page!=null?Model.Page.Title:Model.Modul.Title+" Ekle")</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row starter-main">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3 needs-validation custom-input" enctype="multipart/form-data" action="/manager/@Model.Modul.Url/create" method="post">

                        <div class="col-12">
                            <label class="form-label" asp-for="Faq.Queue">Soru Sırası</label>
                            <input ty class="form-control input-validate" data-error="Lütfen Sırasını giriniz." asp-for="Faq.Queue" type="number" placeholder="Sırasını giriniz" required="">
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="Faq.Question">Soru</label>
                            <input class="form-control input-validate" data-error="Lütfen bir soru giriniz" placeholder="Soru giriniz." asp-for="Faq.Question" required type="text" />
                            <span asp-validation-for="Faq.Question"></span>
                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="Faq.Answer">Cevabı</label>
                            <textarea rows="4" class="form-control input-validate" asp-for="Faq.Answer" data-error="Lütfen cevabını giriniz." type="text" placeholder="Sorunun cevabını giriniz." required=""></textarea>
                            <span asp-validation-for="Faq.Answer"></span>
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="Faq.IsShowHome">Ana Sayfada Gösterilsin mi?</label>
                            <select class="form-control input-valid" asp-for="Faq.IsShowHome" data-error="Lütfen bir seçenek seçiniz.">
                                <option>Bir seçenek seçiniz</option>
                                <option value="true">Evet</option>
                                <option value="false">Hayır</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="Faq.LangId">Dili</label>
                            @Html.DropDownListFor(x => x.Faq.LangId, new SelectList(Model.LanguageList, "Id", "Name"), "Lütfen bir dil seçiniz", new { @class = "form-control input-validate", data_error = "Lütfen kategori için bir dil seçiniz", required = "" })
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->