
@{
    ViewData["Title"] = Model.Service.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css {
    <style>
        @@media only screen and (max-width:442px) {
            .nonproperty {
                display: none !important;
            }

            .my-col-6 {
                width: 50% !important;
            }
            .contact-buttons{
                display:none;
            }
        }

        .service-details-area > p > span > span > span > span {
            font-size: 20px;
        }
        .btn-contact-button{
            cursor:pointer;
        }
        .btn-contact-button:hover {
            background-color: rgb(0,69,25) !important;
        }
        .service-details-area > p {
            font-size: 20px !important;
        }
        /*  .buynow-button {
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }*/
    </style>
}

@section tags {

    @if (Model.Service.TypeId == 19)
    {
        <link rel="canonical" href="@(new HtmlString("https://www.kaktusyazilim.com/"+Model.Service.FriendlyUrl))" type="text/html" />

    }
    else
    {
        <link rel="canonical" href="@(new HtmlString("https://www."+Context.Request.Host.ToString()+Context.Request.Path))" type="text/html" />

    }


    <meta name="description" content="@(new HtmlString(Model.Service.MetaDescription))" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Kaktüs Yazılım">
    <meta property="og:title" content="@(new HtmlString(Model.Service.MetaDescription))">
    <meta property="og:description" content="@(new HtmlString(Model.Service.MetaDescription))">
    <meta property="og:url" content="https://www.kaktusyazilim.com/hizmetler/@Model.Service.FriendlyUrl">
    <meta property="og:locale" content="tr_TR">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@kaktusyazilimcom">
    <meta name="twitter:title" content="Kaktüs Yazılım">
    <meta name="twitter:url" content="https://www.kaktusyazilim.com/hizmetler/@Model.Service.FriendlyUrl">
    <meta name="twitter:description" content="@(new HtmlString(Model.Service.MetaDescription))">
    <link rel="image_src" href="@("https://www.kaktusyazilim.com"+Model.Service.Icon)" />
    <meta name="twitter:image" content="@("https://www.kaktusyazilim.com"+Model.Service.Icon)" />
    <meta property="og:image:alt" content="@Model.Service.Title" />
    <meta property="og:image" content="@("https://www.kaktusyazilim.com"+Model.Service.Icon)" />
}
<div style="margin-top:100px;z-index:0 !important" class="inner-banner">
    <img src="/site/assets/images/bg/inner-bannerdot.png" class="inner-bannerdot" alt="image">
    <img src="/site/assets/images/bg/inner-bannerwave.png" class="inner-bannerwave" alt="image">
    <a class="down-arrow-icon" href="#service-details">
        <svg viewBox="0 0 14 26" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8182 18.469L7.24862 25.7462L0.679032 18.469C0.272584 18.0188 0.592074 17.3 1.19862 17.3L6.74862 17.3L6.74862 1C6.74862 0.723857 6.97248 0.5 7.24862 0.5C7.52477 0.5 7.74862 0.723857 7.74862 1L7.74862 17.3L13.2986 17.3C13.9052 17.3 14.2247 18.0188 13.8182 18.469Z" />
        </svg>
    </a>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6">
                <h1 style="font-size:24px" class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">@Model.Service.Title</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb gap-3">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Service.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="service-details pt-120" id="service-details">
    <div class="container">
        <div class="row justify-content-center gy-5">
            <h1 style="text-align:center">@Model.Service.Title</h1>
            <hr />
            @*<div class="col-lg-4 order-lg-1 order-2">
                    <div class="service-sidebar">
                        <div class="service-widget service-list-area">
                            <h4 class="sidebar-title">Tüm Hizmetler</h4>
                            <ul class="service-list">
                                @foreach (var item in Model.ServiceList.OrderBy(x => x.Queue).ToList())
                                {
                                    <li>
                                        <a href="/hizmetler/@item.FriendlyUrl">@item.Title</a>
                                        <svg width="20" height="16" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.7496 15.4594C12.4954 15.4594 12.2385 15.41 11.9928 15.3082C11.2572 15.0038 10.7819 14.2953 10.7819 13.5034V11.8225C10.7819 11.3909 11.1316 11.0411 11.5631 11.0411C11.9946 11.0411 12.3445 11.3909 12.3445 11.8225V13.5034C12.3445 13.7374 12.5165 13.8337 12.5903 13.8644C12.6656 13.8955 12.8587 13.9497 13.0272 13.7811L18.2094 8.59248C18.5147 8.28685 18.5147 7.78956 18.2094 7.48393L13.0272 2.29548C12.8587 2.12687 12.6656 2.18088 12.5905 2.21201C12.5165 2.24268 12.3445 2.33912 12.3445 2.57319V7.29594C12.3445 8.1576 11.6435 8.85859 10.7819 8.85859H0.781251C0.349732 8.85859 0 8.50886 0 8.07734C0 7.64582 0.349732 7.29594 0.781251 7.29594H10.7819V2.57319C10.7819 1.78126 11.2572 1.07264 11.9928 0.768223C12.731 0.462742 13.571 0.628758 14.1327 1.1912L19.3149 6.37965C20.2283 7.29426 20.2283 8.7823 19.3149 9.69691L14.1327 14.8854C13.7579 15.2606 13.2593 15.4592 12.7496 15.4594Z" />
                                        </svg>
                                    </li>
                                }
                            </ul>
                        </div>
                        @await Html.PartialAsync("~/views/shared/_bannerPartial.cshtml")
                    </div>
                </div>*@
            <div class="col-lg-12 order-lg-2 order-1 ">
                <div class="row">
                    @if (Model.PacketList != null && Model.PacketList.Count() != 0)
                    {

                        var packetMaxCount = Model.PacketList.OrderByDescending(x => x.Properties.Replace("\n", "").Split('\r').Count()).ToList().First().Properties.Replace("\n", "").Split('\r').Count();

                        @foreach (var item in Model.PacketList)
                        {
                            var currentProporties = item.Properties.Replace("\n", "").Split('\r').ToList();
                            var minHeight = (packetMaxCount * 35)+"px";

                            <div class="col buynow-button" >
                                <div style="text-align:center">
                                    <div id="baslik"><h2>@item.Name</h2></div>
                                    <div id="aciklama"><p>@item.Subname</p></div>
                                    <div style=" box-sizing: border-box;">
                                        <div id="fiyat-kutusu" style="background-color: #f7f7f8; padding: 30px;border-radius:20px">
                                            <span style="display: inline-flex; -ms-flex-wrap: wrap; flex-wrap: wrap; font-size: 42px; font-weight: 600; line-height: 1;text-align:center">@item.Price</span>

                                        </div>
                                    </div>
                                    <ul style="list-style: none; padding: 20px 0 20px 20px; margin: 0; text-align: start;min-height:@minHeight">
                                        <li style="font-size: 14px; font-weight: 500;">
                                            <span> <b>@item.HighlightFeature*</b> </span>

                                        </li>
                                      
                                        @for (int i = 0; i < packetMaxCount; i++)
                                        {
                                            try
                                            {
                                                if (currentProporties[i] != "")
                                                {
                                                    <li style="content: ''; display: block; margin: 0 auto; border-top-style: solid; border-top-color: #e1e1e1; border-top-width: 1px; width: 100%; margin-top: 10px; margin-bottom: 10px;"> <svg height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#27AE60" stroke="#27AE60"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="tick"> <polyline fill="none" points="3.7 14.3 9.6 19 20.3 5" stroke="#27AE60" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> </g> </g> </g></svg><span> @currentProporties[i] </span></li>

                                                }
                                            }
                                            catch (Exception ex)
                                            {
                                                @*<li class="nonproperty" style="content: ''; display: block; margin: 0 auto; border-top-style: solid; border-top-color: #e1e1e1; border-top-width: 1px; width: 100%; margin-top: 10px; margin-bottom: 10px;"> <svg height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="layer1"> <path d="M 2.9296875 2.2226562 L 2.2226562 2.9296875 L 9.2929688 10 L 2.2226562 17.070312 L 2.9296875 17.777344 L 10 10.707031 L 17.070312 17.777344 L 17.777344 17.070312 L 10.707031 10 L 17.777344 2.9296875 L 17.070312 2.2226562 L 10 9.2929688 L 2.9296875 2.2226562 z " style="fill:#222222; fill-opacity:1; stroke:none; stroke-width:0px;"></path> </g> </g></svg><span> Sınırlı Paket </span></li>*@
                                            }
                                        }



                                       
                                    </ul>
                                </div>


                            </div>

                        }
                <div class="row">
                    @for (int i = 0; i < Model.PacketList.Count(); i++)
                    {
                        <div class="col  @(i!=0?"contact-buttons":"")">
                            <a style="border-radius: 40px; color: white; width: 100%; margin-top: 10px; background-color: #27AE60" href="/iletisime-gec" class="btn  btn--lg btn-contact-button">İletişime Geçin</a>

                        </div>
                    }

                </div>

                    }
                    <div class="row" style="margin-bottom:70px">
                        @await Html.PartialAsync("~/views/shared/_joinUsPartial.cshtml")
                    </div>


                </div>
                <div class="service-details-area">
                    @Html.Raw(Model.Service.FullDescription)


                    <div class="row g-4">
                        <div class="col-md-6">
                            <h3 class="service-subtitle">Proje Planlama</h3>
                            <ul class="proj-planlist">
                                <li>
                                    <svg width="24" height="11" viewBox="0 0 24 11" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.9995 0.454667V5.50002V10.5454C16.9995 10.7194 17.2064 10.8104 17.3347 10.6928L22.9995 5.50002L17.3347 0.307236C17.2064 0.189646 16.9995 0.280646 16.9995 0.454667Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8217 1.32396V9.67604L22.5347 5.5L17.8217 1.32396ZM16.8316 0.671268C16.8316 0.0883502 17.5485 -0.216486 17.993 0.177416L24 5.5L17.993 10.8226C17.5485 11.2165 16.8316 10.9117 16.8316 10.3287V5.97853H0.49506C0.221646 5.97853 0 5.76429 0 5.5C0 5.23571 0.221646 5.02147 0.49506 5.02147H16.8316V0.671268Z" />
                                    </svg>
                                    Araştırma verilerini analiz etme ve tanımlama.
                                </li>
                                <li>
                                    <svg width="24" height="11" viewBox="0 0 24 11" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.9995 0.454667V5.50002V10.5454C16.9995 10.7194 17.2064 10.8104 17.3347 10.6928L22.9995 5.50002L17.3347 0.307236C17.2064 0.189646 16.9995 0.280646 16.9995 0.454667Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8217 1.32396V9.67604L22.5347 5.5L17.8217 1.32396ZM16.8316 0.671268C16.8316 0.0883502 17.5485 -0.216486 17.993 0.177416L24 5.5L17.993 10.8226C17.5485 11.2165 16.8316 10.9117 16.8316 10.3287V5.97853H0.49506C0.221646 5.97853 0 5.76429 0 5.5C0 5.23571 0.221646 5.02147 0.49506 5.02147H16.8316V0.671268Z" />
                                    </svg>Kullanılabilirlik testi oturumları yürütmek.
                                </li>
                                <li>
                                    <svg width="24" height="11" viewBox="0 0 24 11" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.9995 0.454667V5.50002V10.5454C16.9995 10.7194 17.2064 10.8104 17.3347 10.6928L22.9995 5.50002L17.3347 0.307236C17.2064 0.189646 16.9995 0.280646 16.9995 0.454667Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8217 1.32396V9.67604L22.5347 5.5L17.8217 1.32396ZM16.8316 0.671268C16.8316 0.0883502 17.5485 -0.216486 17.993 0.177416L24 5.5L17.993 10.8226C17.5485 11.2165 16.8316 10.9117 16.8316 10.3287V5.97853H0.49506C0.221646 5.97853 0 5.76429 0 5.5C0 5.23571 0.221646 5.02147 0.49506 5.02147H16.8316V0.671268Z" />
                                    </svg>İnanılmaz Zamanlama ve Deneyim.
                                </li>
                                <li>
                                    <svg width="24" height="11" viewBox="0 0 24 11" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.9995 0.454667V5.50002V10.5454C16.9995 10.7194 17.2064 10.8104 17.3347 10.6928L22.9995 5.50002L17.3347 0.307236C17.2064 0.189646 16.9995 0.280646 16.9995 0.454667Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8217 1.32396V9.67604L22.5347 5.5L17.8217 1.32396ZM16.8316 0.671268C16.8316 0.0883502 17.5485 -0.216486 17.993 0.177416L24 5.5L17.993 10.8226C17.5485 11.2165 16.8316 10.9117 16.8316 10.3287V5.97853H0.49506C0.221646 5.97853 0 5.76429 0 5.5C0 5.23571 0.221646 5.02147 0.49506 5.02147H16.8316V0.671268Z" />
                                    </svg>Anketler yoluyla kullanıcı geri bildirimi toplamak.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="/site/assets/images/bg/service-details2.webp" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="work-process-area">
                        <h3 class="service-subtitle text-center">İş Süreci</h3>
                        <div class="row g-4">
                            <div class="col-md-3 col-sm-6 my-col-6">
                                <div class="work-process-item">
                                    <img src="/site/assets/images/icons/work-procs1.svg" alt="image">
                                    <h4>Araştırma</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 my-col-6">
                                <div class="work-process-item">
                                    <img src="/site/assets/images/icons/work-procs2.svg" alt="image">
                                    <h4>Fikir</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 my-col-6">
                                <div class="work-process-item">
                                    <img src="/site/assets/images/icons/work-procs3.svg" alt="image">
                                    <h4>Geliştirme</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 my-col-6">
                                <div class="work-process-item">
                                    <img src="/site/assets/images/icons/work-procs4.svg" alt="image">
                                    <h4>Sunum</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-faq-area">
                        <h3 class="service-subtitle text-md-start text-center mb-4">Bu Hizmet Hakkında Sık Sorulan Sorular</h3>
                        <div class="faq-wrap wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
                            @foreach (var item in Model.FaqList)
                            {
                                <div class="faq-item hover-btn">
                                    <span></span>
                                    <h5 id="@("heading"+item.Queue)" class="accordion-button style-2 collapsed" data-bs-toggle="collapse" data-bs-target="#@("collapse"+item.Queue)" aria-controls="@("collapse"+item.Queue)">
                                        @item.Queue. @item.Question
                                    </h5>
                                    <div id="@("collapse"+item.Queue)" class="accordion-collapse collapse" aria-labelledby="@("heading"+item.Queue)">
                                        <div class="faq-body style-2">
                                            @Html.Raw(item.Answer)
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



@await Html.PartialAsync("~/views/shared/_brandsPartial.cshtml")

@await Html.PartialAsync("~/views/shared/_contactPartial.cshtml")