
@{
    ViewData["Title"] = "Hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section tags {
    <link rel="canonical" href="https://www.kaktusyazilim.com/hizmetler" type="text/html" />

    <meta name="description" content="@Model.CurrentSettings.MetaDescription" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Kaktüs Yazılım">
    <meta property="og:title" content="@Model.CurrentSettings.MetaDescription">
    <meta property="og:description" content="@Model.CurrentSettings.MetaDescription">
    <meta property="og:url" content="https://www.kaktusyazilim.com">
    <meta property="og:locale" content="tr_TR">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@kaktusyazilimcom">
    <meta name="twitter:title" content="Kaktüs Yazılım">
    <meta name="twitter:url" content="https://www.kaktusyazilim.com">
    <meta name="twitter:description" content="@Model.CurrentSettings.MetaDescription">
}
<div style="margin-top:100px;z-index:0 !important" class="inner-banner">
    <img src="/site/assets/images/bg/inner-bannerdot.png" class="inner-bannerdot" alt="image">
    <img src="/site/assets/images/bg/inner-bannerwave.png" class="inner-bannerwave" alt="image">
    <a class="down-arrow-icon" href="#service">
        <svg viewBox="0 0 14 26" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8182 18.469L7.24862 25.7462L0.679032 18.469C0.272584 18.0188 0.592074 17.3 1.19862 17.3L6.74862 17.3L6.74862 1C6.74862 0.723857 6.97248 0.5 7.24862 0.5C7.52477 0.5 7.74862 0.723857 7.74862 1L7.74862 17.3L13.2986 17.3C13.9052 17.3 14.2247 18.0188 13.8182 18.469Z" />
        </svg>
    </a>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6">
                <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Hizmetlerimiz</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb gap-3">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hizmetlerimiz</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="service-section2 pt-120" id="service">
    <div class="container">
        <div class="row justify-content-center g-4">

            @foreach (var item in Model.ServiceList.Where(x=> x.TypeId==16).ToList())
            {
            <div onclick="window.location.href='/hizmetler/@item.FriendlyUrl'" style="cursor:pointer" class="col-lg-4 col-md-6 col-sm-10">
                <div class="service-item1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <div class="service-img">
                        <a href="/hizmetler/@item.FriendlyUrl" class="service-details-btn"><img src="/site/assets/images/icons/arrow.svg" alt="image"></a>
                        <img alt="image" src="@item.Photo">
                        <div class="overlay"></div>
                    </div>
                    <div class="service-content">
                        <div class="service-icon">
                            <img src="@item.Icon" height="50" alt="@item.Title">
                        </div>
                        <h4><a href="/hizmetler/@item.FriendlyUrl">@item.Title</a></h4>
                        <p class="para">@item.ShortDescription</p>
                    </div>
                </div>
            </div>
            }

        </div>
        <div class="row justify-content-center mar-tp-50">
            <div class="col-md-6 text-center">
                <a href="/iletisim" class="eg-btn btn--primary btn--lg">Hemen Başlayalım</a>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("~/views/shared/_whyUsPartial.cshtml")
<div style="margin-bottom:120px">
    @await Html.PartialAsync("~/views/shared/_joinUsPartial.cshtml")
</div>
@await Html.PartialAsync("~/views/shared/_brandsPartial.cshtml")