@model CorporateWebProject.WebUI.Models.ServiceVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@(Model.Modul!=null?Model.Modul.Title:"")</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@(Model.Modul!=null?"/manager/"+Model.Modul.Url:"")@(Model.Page!=null?Model.Page.Url:"/index")">
                            <svg class="stroke-icon">
                                <use href="/manager/assets/svg/icon-sprite.svg#stroke-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">@(Model.Modul!=null?Model.Modul.Title:"")</li>
                    <li class="breadcrumb-item active">@(Model.Page!=null?Model.Page.Title:"Liste")</li>
                </ol>
            </div>
        </div>
    </div>
</div>
@{ Model.Modul = new CorporateWebProject.Domain.Entities.Modules();}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row starter-main">
        <div class="col-sm-12">
            <div class="card">
               
                <div class="card-body">
                    <form class="row g-3 needs-validation custom-input" action="/manager/modules/create" method="post" novalidate="">
                        <div class="col-12">
                            <label class="form-label" asp-for="@Model.NewModul.Queue">Modül Sırası</label>
                            <input value="@(Model.NewModulList.Count()+1)" class="form-control input-validate" asp-for="@Model.NewModul.Queue" data-error="Lütfen modül sırası giriniz." type="text" placeholder="Modülünüz görüntülenme sırasını giriniz" required="">

                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="@Model.NewModul.Queue">Modül Adı</label>
                            <input class="form-control input-validate" asp-for="@Model.NewModul.Title" data-error="Lütfen modül adını giriniz." type="text" placeholder="Bir modül adı giriniz" required="">

                        </div>
                        <div class="col-12">
                            <label class="form-label" for="validationCustom01" asp-for="@Model.NewModul.Url">Modül Url</label>
                            <input class="form-control input-validate" data-error="Lütfen modül urlsini giriniz." asp-for="@Model.NewModul.Url" type="text" placeholder="Modülünüz urlsini giriniz" required="">

                        </div>
                        <div class="col-12">
                            <label class="form-label" for="validationCustom01" asp-for="@Model.NewModul.LangId">Modül Dili</label>
                            @Html.DropDownListFor(x=>x.NewModul.LangId,new SelectList(Model.LanguageList,"Id","Name"),"Lütfen bir dil seçiniz", new { @class = "form-control input-validate", type = "text", data_error = "Lütfen modül dilini giriniz.",placeholder = "Modülünüz urlsini giriniz" ,required = "" })

                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="NewModul.IsShow">Modül Sayfası Gösterilsin Mi?</label>
                            <select class="form-control" asp-for="NewModul.IsShow">
                                <option value="">Bir seçenek seçiniz</option>
                                <option value="true">Gösterilsin</option>
                                <option value="false">Gösterilmesin</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->