
<div class="blog-section bg-white pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="section-title2 primary6">
                    <span>-Blogumuz-</span>
                    <div>
                        <h3>Blogdan Öğrenin</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative justify-content-center g-4">
            @foreach (var item in Model.BlogList.Where(x => x.IsHomePage == true && x.IsPassive == false && x.IsDeleted == false).OrderByDescending(x => x.CreateDate).Take(3).ToList())
            {
                var category = Model.CategoryList.FirstOrDefault(x => x.Id == item.CategoryId);
                var user = Model.UserList.FirstOrDefault(x => x.Id == item.CreatedUserId);
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="sigle-blog-1 style-2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <div class="blog-image">
                            <img style="height:300px;width:100%" src="@item.Photo" class="img-fluid" alt="image">
                        </div>
                        <div class="blog-content hover-border2">
                            <span>@(category!=null? category.Name:"")</span>
                            <h4 style="height:60px"><a href="/blog/@item.FriendlyUrl">@item.Title</a></h4>
                            <div class="blog-meta">
                                <div class="author-img">
                                    <img src="@user.Photo" alt="image">
                                </div>
                                <div class="designation" style="margin-top:50px">
                                    <h5>@user.DisplayName</h5>
                                    <div class="date">@item.CreateDate.ToString("dd MMMM yyyy")<span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            
        </div>
    </div>
</div>