@model CorporateWebProject.WebUI.Models.ServiceVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@(Model.Modul!=null?Model.Modul.Title:"")</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@(Model.Modul!=null?"/manager"+Model.Modul.Url:"")@(Model.Page!=null?Model.Page.Url:"/index")">
                            <svg class="stroke-icon">
                                <use href="/manager/assets/svg/icon-sprite.svg#stroke-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">@(Model.Modul!=null?Model.Modul.Title:"")</li>
                    <li class="breadcrumb-item active">@(Model.Page!=null?Model.Page.Title:Model.Modul.Title+" Ekle")</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row starter-main">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <form class="row g-3 needs-validation custom-input" enctype="multipart/form-data" action="/manager/@Model.Modul!.Url/create" method="post" novalidate="">
                        @Html.AntiForgeryToken()
                        <div class="col-12">
                            <label class="form-label" asp-for="Slider.Queue">Slider Sırası</label>
                            <input required class="form-control " asp-for="Slider.Queue">
                            <div class="invalid-feedback"><span asp-validation-for="Slider.Queue"></span></div>
                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="Slider.TopTitle">Slider Üst Başlığı</label>
                            <input class="form-control" required asp-for="Slider.TopTitle">
                            <div class="invalid-feedback"><span asp-validation-for="Slider.TopTitle"></span></div>
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="Slider.Title">Slider Başlığı</label>
                            <input class="form-control" required asp-for="Slider.Title">
                            <div class="invalid-feedback"><span asp-validation-for="Slider.Title"></span></div>
                        </div>


                        <div class="col-6">
                            <label class="form-label" asp-for="Slider.Button1Text">Birinci Buton Başlığı</label>
                            <input class="form-control "data-val="false" asp-for="Slider.Button1Text">
                        </div>

                        <div class="col-6">
                            <label class="form-label" asp-for="Slider.Button1Color">Birinci Buton Rengi</label>
                            <input class="form-control "data-val="false" type="color" asp-for="Slider.Button1Color">
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="Slider.Button1Url">Birinci Buton Yönlendirme Linki</label>
                            <input class="form-control "data-val="false" asp-for="Slider.Button1Url">
                        </div>




                        <div class="col-6">
                            <label class="form-label" asp-for="Slider.Button2Text">Birinci Buton Başlığı</label>
                            <input class="form-control "data-val="false" asp-for="Slider.Button2Text">
                        </div>

                        <div class="col-6">
                            <label class="form-label" asp-for="Slider.Button2Color">Birinci Buton Rengi</label>
                            <input class="form-control " data-val="false" type="color" asp-for="Slider.Button2Color">
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="Slider.Button2Url">Birinci Buton Yönlendirme Linki</label>
                            <input class="form-control " data-val="false" asp-for="Slider.Button2Url">
                        </div>


                        <div class="col-6">
                            <label class="form-label" asp-for="Slider.VideoTitle">Slider Video Başlığı</label>
                            <input class="form-control" data-val="false" type="text" asp-for="Slider.VideoTitle">
                        </div>

                        <div class="col-12">
                            <label class="form-label" asp-for="Slider.VideoUrl">Slider Video Youtube Linki</label>
                            <input class="form-control " data-val="false" asp-for="Slider.VideoUrl">
                        </div>


                        <div class="col-12">
                            <label class="form-label">Fotoğraf</label>
                            <input type="file" name="files" required data-error="Lütfen slider fotoğrafını giriniz!" class="form-control input-validate">
                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="Slider.LangId">Slider Dili</label>
                            @Html.DropDownListFor(x => x.Slider.LangId, new SelectList(Model.LanguageList, "Id", "Name"), "Lütfen bir dil seçiniz", new { @class = "form-control ", required = "" })
                            <div class="invalid-feedback"><span asp-validation-for="Slider.LangId"></span></div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->
